.market-preview {
  margin-top: 0.8em;
  .img-placeholder {
    width: 2.5rem;
    height: 2.4rem;
    background-color: #797979;
    margin-left: 3.2em;
    margin-right: 1em;
  }

  button {
    border: none;
    background-color: #fff;
  }
}
